<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.dmlapps.dogpeople"
        version   = "11.3">

    <name>DogPeople</name>
    <description>Everything for Fido</description>
    <author email="info@dmlapps.com" href="http://dmlapps.com/dogpeople">Team DML</author>
	
	<!-- Plugins -->
<!-- 	<preference name="permissions" value="none"/> -->
	<gap:plugin name="org.apache.cordova.geolocation" />
	<feature name="Geolocation">
    	<param name="ios-package" value="CDVLocation" />
	</feature>
	<gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />
	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="android-build-tool" value="gradle" />
	<feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    
    <feature name="NetworkStatus">
    	<param name="ios-package" value="CDVConnection" />
	</feature>
    
<!--
    <plugins>
        <plugin name="Device" value="CDVDevice" />
        <plugin name="Logger" value="CDVLogger" />
        <plugin name="Compass" value="CDVLocation" />
        <plugin name="NetworkStatus" value="CDVConnection" />
        <plugin name="Debug Console" value="CDVDebugConsole" />
        <plugin name="Geolocation" value="CDVLocation" />
        <plugin name="SplashScreen" value="CDVSplashScreen" />
        <plugin name="Battery" value="CDVBattery" />
        <plugin name="Globalization" value="CDVGlobalization" />
    </plugins>
--> 
    
    <plugin name="cordova-plugin-geolocation"    source="npm" spec="1.0.1" />
    <plugin name="cordova-plugin-inappbrowser"   source="npm" spec="1.0.1" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="1.0.1" />
    <plugin name="cordova-plugin-splashscreen"   source="npm" spec="2.1.0" />
    <plugin name="cordova-plugin-statusbar"      source="npm" spec="1.0.0" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm" spec="5.0.7" />
    <plugin name="cordova-plugin-google-analytics" source="npm" spec="0.8.1" />
    <plugin name="cordova-plugin-whitelist"      source="npm" spec="1.1.0" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" /> <!-- Required for iOS9 -->
    
	
	<gap:platform name="ios" />
	<gap:platform name="android" />

	<!-- Defaults -->
    <icon src="icon_72.png" gap:role="default" />
    <icon src="icon.png" width="57" height="57" />
	<icon src="icon_48.png" width="48" height="48" />
	<icon src="icon_36.png" width="36" height="36" />
	
	<!-- 9patch default splash for Android -->
	<gap:splash src="splash.9.png" />

	
	<!-- Android -->	
<!--
	<icon src="www/img/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="www/img/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="www/img/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="www/img/icons/android/xdpi.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="www/img/icons/android/xxdpi.png" gap:platform="android" gap:density="xxhdpi" />
-->

<!--
	<gap:splash src="www/img/launch/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi" />
	<gap:splash src="www/img/launch/android/screen-ldpi-landscape.png" gap:platform="android" gap:qualifier="land-ldpi" />
	<gap:splash src="www/img/launch/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi" />
	<gap:splash src="www/img/launch/android/screen-mdpi-landscape.png" gap:platform="android" gap:qualifier="land-mdpi" />
	<gap:splash src="www/img/launch/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi" />
	<gap:splash src="www/img/launch/android/screen-hdpi-landscape.png" gap:platform="android" gap:qualifier="land-hdpi" />
	<gap:splash src="www/img/launch/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi" />
	<gap:splash src="www/img/launch/android/screen-xhdpi-landscape.png" gap:platform="android" gap:qualifier="land-xhdpi" />
	<gap:splash src="www/img/launch/android/screen-xxhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
	<gap:splash src="www/img/launch/android/screen-xxhdpi-landscape.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
-->
	
	<!-- 9patch splash screens for Android densities -->
	<gap:splash src="www/img/launch/android/splash-ldpi.9.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="www/img/launch/android/splash-mdpi.9.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="www/img/launch/android/splash-hdpi.9.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="www/img/launch/android/splash-xhdpi.9.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="www/img/launch/android/splash-xxhdpi.9.png" gap:platform="android" gap:qualifier="xxhdpi" />
		
	<!-- iOS -->    
    <icon src="www/img/icons/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />
	<icon src="www/img/icons/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
	<icon src="www/img/icons/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
	<icon src="www/img/icons/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
	<icon src="www/img/icons/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
	<icon src="www/img/icons/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
	<icon src="www/img/icons/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
	<icon src="www/img/icons/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
	<icon src="www/img/icons/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />
	<icon src="www/img/icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="www/img/icons/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
	<icon src="www/img/icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="www/img/icons/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
	<icon src="www/img/icons/ios/icon-50.png" gap:platform="ios" width="50" height="50" />
	<icon src="www/img/icons/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100" />

	<gap:splash src="www/img/launch/ios/Default.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="www/img/launch/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="www/img/launch/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="www/img/launch/ios/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
	<gap:splash src="www/img/launch/ios/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
	<gap:splash src="www/img/launch/ios/Default-Landscape-736h@3x.png" gap:platform="ios" width="2208" height="1242" />
	<gap:splash src="www/img/launch/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="www/img/launch/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
	<gap:splash src="www/img/launch/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
	<gap:splash src="www/img/launch/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />
	        
    <content src="index.html" />
    
    <access origin="*.google.com" />
	<access origin="*.googleapis.com" />
	<access origin="*.gstatic.com" />
	
	<preference name="DisallowOverscroll" value="true" />

</widget>