HTML {
	height: 100%;
}

BODY {
	font-family: 'Coustard', sans-serif;
	text-transform: none;
	font-size: 14px;
	height: 100%;
}

/*====================================
OFF-CANVAS MENUS
====================================*/

header {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
    background-color: rgba(100,179,253,0.975);
    height: 44px;
    font-size: 1.2em;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    padding: 10px;
}

.main-header a, .main-header a:hover { color: #fff; text-decoration: none; }

header a i, header a i:hover { color: inherit; }


header .toggle-panel {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    width: 24px;
    height: 24px;
    line-height: 60px;
    text-align: center;
    background: #333;
}

#menu-panel {
  display: none;
}

#site-wrapper {
  padding-top: 44px;
}

#site-wrapper .scotch-panel-canvas {
  z-index: 99999;
}

#menu {
    background-color: #64b3fd;
    position: fixed;
    height: 100%; 
    top: 0;
    left: 0;
    width: 250px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.15) inset;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li a {
    display: block;
    width: 100%;
    background: transparent;
    color: #fff;
    padding: 10px 15px;
    margin: 0;
    border-top: 1px dotted rgba(255,255,255,0.3);
    font-family: 'Coustard', sans-serif;
}

#menu ul li a i {
    width: 24px;
}

@media screen and (min-width: 1050px) {
	#menu ul li a i { width: auto; }
}

#menu ul li a:hover {
    background: rgba(255,255,255,0.15);
    text-decoration: none;
}

article { background-color: #fff }

.container {
	width: auto;
/* 	min-height: calc(100vh - 44px); */
	height: 100vh;
	display: block;
	background-color: #fff;
	padding: 0;
}

.logo {
	display: block;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	color: #fff;
}

.menu-tap {
	float: left;
}

.nav-pills > li {
	float: none;
}

.nav-pills > li.active {
	background-color: rgba(255,255,255,0.15);
}

.nav-pills > li > a {
	border-radius: none;
}

.panel {
	box-shadow: none;
	height: 100%;
}

.filter {
	display: block;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	color: #6ACA4B;
	padding: 10px;
	font-size: 0.8em;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
}

.filter:hover, .filter:visited {
	text-decoration: none;
	color: #64b3fd;
}

#map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}